    
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: 'Helvetica', Arial, sans-serif;
            color: #333;
            background-color: #f4f4f4;
            padding: 0;
            display: flex;
            flex-direction: column;
            height: 100vh;
        }

        header {
            width: 100%;
            background: #21374d;
            padding: 20px;
            text-align: center;
            color: white;
        }

        header h1 {
            font-size: 2.5rem;
            letter-spacing: 2px;
            font-weight: 700;
            text-transform: uppercase;
        }

        nav {
            display: flex;
            justify-content: center;
            background-color: #34495e;
            padding: 10px 0;
        }

        nav a {
            color: white;
            text-decoration: none;
            margin: 0 15px;
            font-size: 1.2rem;
            transition: color 0.3s;
        }

        nav a:hover {
            color: #f39c12;
        }

        .contact-section {
            flex-grow: 1;
            padding: 50px 20px;
            text-align: center;
        }

        .contact-section h2 {
            font-size: 2.5rem;
            margin-bottom: 20px;
            color: #2c3e50;
            margin: 0 auto;
            background-color: white;
            padding: 30px;
            border-radius: 8px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        }

        .contact-form input,
        .contact-form textarea {
            width: 100%;
            padding: 15px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 1rem;
            color: #333;
        }

        .contact-form input[type="submit"] {
            background-color: #f39c12;
            color: white;
            border: none;
            cursor: pointer;
            font-size: 1.1rem;
        }

        .contact-form input[type="submit"]:hover {
            background-color: #e67e22;
        }

        .social-media {
            margin-top: 40px;
        }

        .social-media a {
            margin: 0 15px;
            font-size: 2rem;
            color: #34495e;
            transition: color 0.3s ease;
        }

        .social-media a:hover {
            color: #f39c12;
        }

        footer {
            background-color: #102336;
            color: white;
            text-align: center;
            padding: 20px;
            font-size: 1rem;
        }

        footer p {
            margin: 0;
        }
    